@model IssueTracker.Models.TicketDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProjectTitle)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProjectTitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OwnerName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PercentComplete)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PercentComplete)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TicketStatus)
                </dd>
                @*<dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @TimeZoneInfo.ConvertTime(Model.Created, TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time")).ToString("M/d/yy h:mm tt")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd>
            @if (Model.Updated != null)
            {
                @TimeZoneInfo.ConvertTime((DateTimeOffset)Model.Updated, TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time")).ToString("M/d/yy h:mm tt")
            }
        </dd>*@
                <dd>
                    <br />
                    @Html.ActionLink("Edit Ticket", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
                </dd>
            </dl>
        </div>
       
    </div>
</div>
