@model IEnumerable<IssueTracker.Models.Ticket>
@inject IssueTracker.Services.Profile.ProfileManager ProfileManager
@{
    ViewData["Title"] = "Index";
}


<section class="content-header">
    <h1>
        Ticket
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tickets</a></li>
        <li class="active">Index</li>
    </ol>
</section>

<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Ticket</a>
</p>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Tickets</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tickets" class="table table-sm table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Priority
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @if (item.TicketStatus != null)
                                        {
                                            @item.TicketStatus.Name
                                        }
                                    </td>
                                    <td>
                                        @if (item.TicketPriority != null)
                                        {
                                            @item.TicketPriority.Name
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css" />
}


@section Scripts {
    <!-- DataTables -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/libs/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/libs/datatables/js/dataTables.bootstrap.min.js"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tickets').DataTable({
                'searching': true,
                'ordering': true,
                'columnDefs': [{
                    'searchable': false,
                    'orderable': false,
                    'targets': 5
                }]
            });
        })
    </script>
}