@model IssueTracker.Models.AdminViewModel
@inject IssueTracker.Services.Profile.ProfileManager ProfileManager

@{
    ViewData["Title"] = "Index";
}


<h1 class="bg-info text-white">Administration</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Users</a></li>
                <li><a href="#tab_2" data-toggle="tab">Ticket Statuses</a></li>
                <li><a href="#tab_3" data-toggle="tab">Ticket Types</a></li>
                <li><a href="#tab_4" data-toggle="tab">Ticket Priorities</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <a asp-action="CreateUser" class="btn btn-primary">Create a User</a>
                    <table class="table table-sm table-bordered">
                        <tr><th>ID</th><th>Name</th><th>Email</th><th>Roles</th><th>Delete</th></tr>
                        @foreach (ApplicationUser user in Model.applicationUsers)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@ProfileManager.UserRoles(user)</td>
                                <td>
                                    <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="tab-pane" id="tab_2">
                    <a asp-action="CreateStatus" class="btn btn-primary">Create a Ticket Status</a>
                    <table class="table table-sm table-bordered">
                        <tr><th>ID</th><th>Name</th><th>Delete</th></tr>
                        @foreach (TicketStatus status in Model.ticketStatuses)
                        {
                            <tr>
                                <td>@status.Id</td>
                                <td>@status.Name</td>
                                <td>
                                    <form asp-action="DeleteStatus" asp-route-id="@status.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="tab-pane" id="tab_3">
                    <a asp-action="CreateType" class="btn btn-primary">Create a Ticket Type</a>
                    <table class="table table-sm table-bordered">
                        <tr><th>ID</th><th>Name</th><th>Delete</th></tr>
                        @foreach (TicketType type in Model.ticketTypes)
                        {
                            <tr>
                                <td>@type.Id</td>
                                <td>@type.Name</td>
                                <td>
                                    <form asp-action="DeleteType" asp-route-id="@type.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                </div>            
                 <div class="tab-pane" id="tab_4">
                    <a asp-action="CreatePriority" class="btn btn-primary">Create a Ticket Priority</a>
                    <table class="table table-sm table-bordered">
                        <tr><th>ID</th><th>Name</th><th>Delete</th></tr>
                        @foreach (TicketPriority priority in Model.ticketPriorities)
                         {
                            <tr>
                            <td>@priority.Id</td>
                            <td>@priority.Name</td>
                            <td>
                                <form asp-action="DeletePriority" asp-route-id="@priority.Id" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                          }
                    </table>
            </div>
          </div>

        </div>
    </div>
</div>
